@import "../../styles/base";

.container {
    display: flex;
    justify-content: center;
    gap: 10rem;
    height: 69vh;
    margin-top: 10vh;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin-bottom: 1rem;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: .8rem;
        width: 25rem;

        div {
            display: flex;
            flex-direction: column;

            input, select {
                padding: .4rem .5rem;
            }
        }

        button {
            padding: .6rem 0;
        }
    }
}

.error {
    @include textColors("red")
}

.successMessage {
    @include textColors("green")
}