@import "../../styles/base";

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 69vh;
    margin: 10vh 7vw;

    section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &:nth-child(1) {
            margin-top: 5vh;
            gap: 25vh;
        }

        &:nth-child(2) {
            gap: 17vh;
        }

        div {
            h2 {
                @include textColors("dark-blue");
                margin-bottom: 1rem;
            }
        
            form {
                display: flex;
                flex-direction: column;
                gap: .8rem;
                width: 30rem;
        
                div {
                    display: flex;
                    flex-direction: column;
        
                    input, select {
                        padding: .4rem .5rem;
                    }
                }
        
                button {
                    padding: .6rem 0;
                }
            }
        }

        img {
            width: 33vw;
            height: 45vh;
            border-radius: 3px;
        }
    }
}

.error {
    @include textColors("red")
}

.successMessage {
    @include textColors("green")
}