@import "../../styles/base";

.container {
    display: flex;
    flex-direction: column;
    min-height: 69vh;

    section {
        &:nth-child(1) {
            background-image: url("../../images/register-employee.jpg");
            height: 91vh;
        }

        &:nth-child(2) {
            background-image: url("../../images/register-project.jpg");
            background-size: cover;
            height: 91vh;
        }

        div {
            background-color: white;
            padding: 1.5rem;
            margin: 20vh auto 0 auto;

            @media screen and (min-width: 600px) {
                width: 28rem;
            }
            @media screen and (min-width: 380px) and (max-width: 600px) {
                width: 23rem;
            }
            @media screen and (max-width: 380px) {
                width: 20rem;
            }
            
            h2 {
                @include textColors("dark-blue");

                @media screen and (min-width: 800px) {
                    font-size: 1.8rem;
                }
                @media screen and (max-width: 800px) {
                    font-size: 1.6rem;
                }
            }
            
            form {
                display: flex;
                flex-direction: column;
                gap: .8rem;
        
                span {
                    display: flex;
                    flex-direction: column;
        
                    input, select {
                        padding: .4rem .5rem;
                    }
                }
        
                button {
                    padding: .6rem 0;
                }
            }
        }
    }
}

.error {
    @include textColors("red")
}

.successMessage {
    @include textColors("green")
}