@import "../../styles/base";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    padding: 0 5vw;

    h2 {
        margin-bottom: 1.5rem;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 25vw;
        div {
            display: flex;
            flex-direction: column;

            p {
                @include textColors("red");
            }
        }

        button {
            padding: .6rem 0;
        }

        p {
            @include textColors("red");
        }
    }
}