@import "../../styles/base";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;

    h2 {
        text-align: center;
        margin-bottom: 1.5rem;
        @include textColors("dark-blue");
    }

    form {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 25rem;
        div {
            display: flex;
            flex-direction: column;

            p {
                @include textColors("red");
            }

            input {
                padding: .4rem .5rem;
            }
        }

        button {
            padding: .6rem 0;
        }

        p {
            @include textColors("red");
        }
    }
}

.password {
    display: flex;
    align-items: center;
    border: 1px solid #b5b5b5;
    border-radius: 3px;
    background-color: transparent;
    position: relative;

    input {
        border: none;
        width: 100%;
        &:focus {
            outline: 1.5px solid #00c3f9;
        }
    }

    svg {
        margin-right: 1rem;
        width: 1.2rem;
        height: 1.2rem;
        position: absolute;
        left: 23rem;
        color: rgb(124, 124, 124);
        &:hover {
            cursor: pointer;
        }
    }
}