@import "../../styles/base";

.container {
    padding: 1rem 2rem;
    border-top: 1px solid rgb(192, 192, 192);

    @media screen and (max-width: 1050px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    div {
        &:nth-child(1) {
            display: flex;
            gap: 1rem;
            padding-top: 1rem;
            
            a {
                svg {
                    @include textColors("dark-blue");
                    height: 1.5rem;
                    width: 1.5rem;
    
                    &:hover {
                        cursor: pointer;
                        @include textColors("dark-blue-hover");
                    }
                }
            }
        }

        &:nth-child(2) {
            @media screen and (min-width: 1050px) {
                display: block;
                margin: -2.5rem auto 0 auto;
            }

            p {
                text-align: center;
                font-weight: 400;
                color: black;
                font-size: .95rem;
            }
        }
    }
}