@import "../../styles/base";

.container {
    display: flex;
    align-items: center;
    gap: 16vw;
    padding: 1rem 2rem;
    border-top: 1px solid rgb(192, 192, 192);

    div {
        &:nth-child(1) {
            display: flex;
            gap: 1.5rem;
            
            a {
                svg {
                    @include textColors("dark-blue");
                    height: 1.5rem;
                    width: 1.5rem;
    
                    &:hover {
                        cursor: pointer;
                        @include textColors("dark-blue-hover");
                    }
                }
            }
        }

        &:nth-child(2) {
            p {
                text-align: center;
                font-weight: 400;
                color: black;
                font-size: .95rem;
            }
        }
    }
}