@import "../../styles/base";

.container {
    display: flex;
    align-items: center;
    gap: 16vw;
    padding: 1rem 2rem;
    @include bgColors("purple");

    div {
        &:nth-child(1) {
            display: flex;
            gap: 1.5rem;
            
            a {
                svg {
                    @include textColors("light-grey");
                    height: 1.5rem;
                    width: 1.5rem;
    
                    &:hover {
                        cursor: pointer;
                        @include textColors("light-grey-hover");
                    }
                }
            }
        }

        &:nth-child(2) {
            p {
                text-align: center;
                font-weight: 400;
                @include textColors("light-grey");
            }
        }
    }
}