@import "../../styles/base";

.container {
    list-style: none;
    height: 28vh;
    padding-right: 1rem;
    overflow-y: auto;
    
    &::-webkit-scrollbar {
        width: 12px; 
    }
    &::-webkit-scrollbar-thumb {
        background-color: #d7d7d7;
        background-clip: padding-box;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
        border: 1px solid #d7d7d7;
    }
    &::-webkit-scrollbar-button:single-button {
        background-color: #d7d7d7;
        display: block;
        border-style: solid;
        height: 13px;
        width: 13px;
    }
    /* Up */
    &::-webkit-scrollbar-button:single-button:vertical:decrement {
        border-width: 0 8px 8px 8px;
        border-color: transparent transparent #555555 transparent;
    }
      
    &::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
        border-color: transparent transparent #777777 transparent;
    }
    /* Down */
    &::-webkit-scrollbar-button:single-button:vertical:increment {
        border-width: 8px 8px 0 8px;
        border-color: #555555 transparent transparent transparent;
    }
      
    &::-webkit-scrollbar-button:vertical:single-button:increment:hover {
        border-color: #777777 transparent transparent transparent;
    }

    li {
        display: flex;
        align-items: center;
        gap: .5rem;
        line-height: 2.2rem;
    }
    svg {
        height: 1.1rem;
        width: 1.1rem;
        @include textColors("dark-blue");

        &:hover {
            cursor: pointer;
            @include textColors("dark-blue-hover");
        }
    }
}