@import "../../styles/base";

.container {
    list-style: none;
    overflow-y: auto;

    li {
        line-height: 2rem;
    }
    svg {
        height: 1rem;
        width: 1rem;
        @include textColors("dark-blue");

        &:hover {
            cursor: pointer;
            @include textColors("light-blue");
        }
    }
}