

.container {
    display: flex;
    gap: 2vw;

    span {
        display: flex;
        align-items: center;
        gap: .5vw;

        input {
            padding: .3rem .4rem;
            width: 6vw;
        }
        select {
            padding: .3rem .4rem;
            width: 15vw;
        }
    }

    button {
        padding: .3rem 1.4rem;
    }
}