.container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
    width: 90vw;
    border-bottom: 1px solid rgb(192, 192, 192);

    span {
        display: flex;
        align-items: center;
        gap: .5rem;

        input {
            padding: .1rem .4rem;
            width: 5rem;
        }
        select {
            padding: .1rem .4rem;
            width: 13rem;
        }
    }

    button {
        padding: .2rem 1.1rem;
    }
}