@mixin bgColors($color) {
    @if $color == 'light-blue' {
        background-color: #00c3f9
    }
    @if $color == 'light-grey' {
        background-color: rgb(252, 252, 252)
    }
    @if $color == 'light-blue-hover' {
        background-color: #00c8ff98
    }
}

@mixin textColors($color) {
    @if $color == 'dark-blue' {
        color: #001b5f
    }
    @if $color == 'dark-blue-hover' {
        color: #001b5fbc
    }
    @if $color == 'light-blue' {
        color: #00c3f9
    }
    @if $color == 'light-grey' {
        color: rgb(251, 251, 251)
    }
    @if $color == 'light-grey-hover' {
        color: rgba(251, 251, 251, 0.721)
    }
    @if $color == 'red' {
        color: #ff0000
    }
    @if $color == 'green' {
        color: #1aaa00
    }
}