@mixin bgColors($color) {
    @if $color == 'purple' {
        background-color: #7300e7
    }
    @if $color == 'medium-green' {
        background-color: #77f5f1
    }
    @if $color == 'light-grey' {
        background-color: rgb(251, 251, 251)
    }
}

@mixin textColors($color) {
    @if $color == 'purple' {
        color: #7300e7
    }
    @if $color == 'purple-hover' {
        color: #7400e788
    }
}