@import "./base";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
}

html {
    font-size: 16px;
}

body {
    @include bgColors("light-grey");

    p, li {
        line-height: 1.5rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    select {
        border: 1px solid #b5b5b5;
        border-radius: 3px;
        background-color: transparent;
        &:focus {
            outline: 1.5px solid #00c3f9;
        }
    }

    input {
        border: 1px solid #b5b5b5;
        border-radius: 3px;
        background-color: transparent;
        &:focus {
            outline: 1.5px solid #00c3f9;
        }
    }

    p, input, label, button, select {
        font-size: 1rem;
    }

    button {
        border: none;
        border-radius: 3px;
        @include bgColors("light-blue");
        color: white;

        &:hover {
            cursor: pointer;
            @include bgColors("light-blue-hover");
            transition: all .2s ease 0s;
        }
    }

    &::-webkit-scrollbar {
        width: 15px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #d7d7d7;
        background-clip: padding-box;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
        border: 1px solid #d7d7d7;
    }
    &::-webkit-scrollbar-button:single-button {
        background-color: #d7d7d7;
        display: block;
        border-style: solid;
        height: 13px;
        width: 13px;
    }
    /* Up */
    &::-webkit-scrollbar-button:single-button:vertical:decrement {
        border-width: 0 8px 8px 8px;
        border-color: transparent transparent #6b6b6b transparent;
    }
      
    &::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
        border-color: transparent transparent #777777 transparent;
    }
    /* Down */
    &::-webkit-scrollbar-button:single-button:vertical:increment {
        border-width: 8px 8px 0 8px;
        border-color: #6b6b6b transparent transparent transparent;
    }
      
    &::-webkit-scrollbar-button:vertical:single-button:increment:hover {
        border-color: #777777 transparent transparent transparent;
    }
}